$fontColor: #464646;
$gridBorderColor: #ececec;
$backgroundColor: #f4f3f1;
$activeDayFontColor: #929292;
$inactiveDayFontColor: #bcbcbc;
$currentDayBackgroundColor: #5d6ae4;

* {
  box-sizing: border-box;
  display: flexbox;
  color: $fontColor;
}

#app {
  background-color: $backgroundColor;
}

.header {
  height: 5%;
  margin: 1em 0;

  p {
    padding-left: 1.2em;
    font-size: large;
  }
}

hr {
  height: 1px;
  background-color: $activeDayFontColor;
  border: none;
}

.page-layout {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  border-top: 1px solid grey;
}

.calendars {
  width: 200px;

  p {
    padding-left: 1.7em;
    padding-top: 1.7em;
    font-weight: 800;
    margin-bottom: 0.1em;
    font-size: small;
  }

  & ul {
    margin: 0;
    padding: 10px;
  }

  & ul li {
    list-style: none;
    margin-bottom: 10px;
  }
}

.calendar {
  background-color: white;
  width: calc(100% - 200px);
  border-radius: 10px;
  margin: 1em 0.3em 0.3em 0.3em;
  box-shadow: -0.1px 0px 5px 0px #888888;
  display: flex;
  flex-direction: column;
  // height: fit-content;

  .layout {
    width: 100%;
    display: flex;
    height: 590px;
    overflow-y: scroll;
  }
}

.card {
  flex-direction: row;
  display: flex;
  border-radius: 5px;
  min-height: 1.7em;
  padding: 5px;
  cursor: pointer;
  width: 100%;
  word-break: break-all;

  &.selected {
    background-color: white;
    box-shadow: 1px 1px 2px 1px $inactiveDayFontColor;
  }

  .calendar-color {
    height: 0.1em;
    border-radius: 50%;
    background-color: #090808;
    padding: 0.3em;
    margin: 0.2em 0.5em;
  }
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;

  &.with-text {
    padding-left: 5.43em;
    width: 100%;
    height: 3em;
    background-color: white;
    border-bottom: 1px solid grey;
  }
}

.weekday {
  border-left: 1px solid grey;
  text-align: center;
  background-color: white;
}

.timeslot {
  background-color: white;
  padding-right: 20px;
  font-size: small;
  font-weight: 600;
  position: relative;
  height: 100px;
  border-bottom: 1px solid grey;
  margin-bottom: 1px;
  justify-content: space-evenly;
  display: flex;
}
.time {
  background-color: white;
  font-size: small;
  font-weight: 100;
  max-width: 100px;
  min-width: 50px;
  position: relative;
  height: 100px;
  margin-bottom: 1px;
  text-align: end;
  padding-right: 5px;
  color: grey;
}

.active {
  height: min-content;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 50%;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: smaller;
}

button {
  width: 10%;
  cursor: pointer;
  border-radius: .4rem;
  border: .1rem solid #00569C;
  background-color: white;
  color: #00569C;
  height: 2rem;
}

button:hover {
  background-color: #00569C;
  color: #fff;
}

button:active {
  background-color: #ecfcff;
  color: #000;
}

button:focus {
  outline-color: #2D9BF5;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.homepage {
  text-align: center;
  padding: 2rem;
  background-color: white;
}

.heading, .stickyHeader {
  background-color: white;
  padding-top: 10px;
  font-size: small;
  font-weight: 600;
  position: relative;
  height: 50px;
  border-bottom: 1px solid grey;
  margin-bottom: 1px;
  justify-content: space-evenly;
  display: flex;
}

.eventSummary, .eventTime {
  color: white;
}

.stick {
  background-color: green;
  height: 50px;
  display: flex;
}

.stickyHeader {
  width: 52.5px;
  height: 50px;
  border-bottom: 1px solid black;
}